body{
    background-color: #B3A580;

}
header{
    background-color: #82674C;
    text-align: center;
    vertical-align: center;
    font-size: 40px;
    height: 100px;
    margin: 50px;
    border-radius: 20px;
    padding-top: 54px;


}