/* h1 {
	text-align: center;
	display: inline-block;
	width: 300px;
	border: 1px solid yellow;
	background-color: lightskyblue;
}

body {
	background-color: lightcyan;
	overflow-y: scroll;
}

li {
	list-style: none;
}

a:link, a:visited {
	text-decoration: none;
	background-color: cyan;
	border: 1px solid rgb(28, 218, 193);
	display: block;
	width: 300px;
	text-align: center;
	margin-bottom: 3px;
	
}

a:hover, a:active {
	background-color: lightslategrey;
	color: black;
}
div.b {
	background-color: #191919;
	height: 45px;
	width: 16px;
	float: left;
	position: relative;
	bottom: 60px;
	margin-right: 9px;
	left: 15px;
}

div#main {
	width: 170px;
	height: 90px;
	border-radius: 10px;
	background-color: #191919;
	position: relative;
	padding: 5px;
}

div.w {
	background-color: white;
	width: 20px;
	border-radius: 5px;
	height: 70px;
	float: left;
	position: relative;
	top: 20px;
	margin-right: 5px;
}

	div.w:active {
		opacity: 0;
	}

div.b:hover {
	height: 43px;
}

div.b:active {
	opacity: 0;
}
h1,ul,li,a{
	border-radius: 10px;
} */
.row{

	border: 2px solid black;
	margin: 10px;
}
.col-md-4{
	background-color: blue;
	border: 2px solid black;
	margin: 10px;
}